.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
a.out
fileSource.cpp
fileSource.js
fileSource.ula
fileSource.py

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
